# Folder
node_modules

# ENV
.env

# S3
s3config.json

# Key 파일(MAIN)
redpingpong_shop__ca.pem
redpingpong_shop__crt.pem
redpingpong_shop.key

# Key 파일(DEV)
ca_bundle.crt
certificate.crt
private.key

# TEMP
createTable.sql
